
/*=========== RESPONSIVIDADE - 768 PX ===========*/

@media (max-width: 768px) {

  .hamburger {
    display: flex; 
      /* Aparece no celular */
  }

  .menu {
    display: flex;
    flex-direction: column; 
    position: fixed; 
    right: -100%; 
    top: 0;
    width: 70%;
    height: 100vh;
    background: var(--white); 
    z-index: 2000;
    transition: right 0.5s ease-in-out, opacity 0.3s;
    
    /* Esconde para não vazar no topo ao fechar */
    visibility: hidden;
    opacity: 0;
    justify-content: center;
  }  

  .menu a {
    font-size: 1.5rem;
    /* Texto com degradê no menu mobile */
    background: linear-gradient(45deg, #cc2323, #ff8c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
  }   

  .menu.active {
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  /* Esconde os links especificamente durante o fechamento no mobile */
  .menu:not(.active) li {
    opacity: 0;  
  }

  /*======= HOME =======*/

  .fenix-container {
    max-width: 100%;
  }

  .foto-fenix {
    /* No celular, a foto define a altura do item */
    height: auto; 
    padding: 0;
    background-color: #fff;
  }

  .foto-fenix img {
    width: 100%;
  }


  

  /*======= CAMBIO ORIGEM =======*/



  .cambio-origem {
    /* width: 95vw; */
  }

  .cambio-origem p {
    max-width: 100%;
    font-weight: 500;
    line-height: 1.4;
  }


 
  /*======= TREINOS E JOGOS =======*/ 
  

  .treinos-jogos-grid {
    grid-template-columns: 1fr; 
    grid-auto-rows: auto; 
    gap: 15px;
  }  

  .foto-item {
    /* No celular, a foto define a altura do item */
    width: 0 auto; 
    /* padding: 10px; */
    /* background-color: #fff; */
  }

  .foto-item img {
    /* No celular, a foto ocupa a largura total e ajusta a altura */
    width: 100vw;
    height: 100vh;
    /* object-fit: contain; */
    
  }

 
  
  /*=======  =======*/
   
      
  /* Ajuste opcional para o título no celular */
  .jargao-fenix {
    font-size: clamp(.8rem, 2vw, 3rem);
    color: var(--ouro-1);
    text-align: center;
  }  

  

  /*======= FOOTER =======*/

  footer {   
  font-size: 1rem;
  font-weight: 300;    
  color: var(--amarelo-2);   
}



  /*======= DIRETORIA =======*/


.diretoria-grid {
    grid-template-columns: 1fr; 
    gap: 20px;
    grid-auto-rows: auto;
  }
    
  .diretoria-card {
    max-width: 450px; 
      /* Evita que o card fique largo demais em tablets */
    margin: 0 auto;
  }
}


/* Ajuste opcional para telas muito pequenas */
@media (max-width: 480px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
  }
}
